body {
    padding: 30px;
}

header {
    height: 300px;
}

.title {
    margin-top: 100px;
}

.header-background {
    background-image:url(../pics/backgound-instrument.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.input-group {
    width: 20rem;
}

.search-section {
display: flex;
justify-content: center;

}

.search-title {
    margin-top: 20px;
}

.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 2.3rem;
  }
  